__pycache__/
*.pyc
.vscode
MS/
*.png
__MACOSX/
# Data files
*.pkl

# Output files
nohup.out

# Specific Python files
alfven_data_movies.py
alfven_data_streamline.py
alfven_data_visualized.py
alfven_movies_2.py